.InButton{
    border-radius:5px;
    box-shadow: none;
    font-size: medium;
}

.Increase{
    background-color: forestgreen;
    color:white;
    width: 25px;
}

.Decrease{
    background-color: firebrick;
    color:white;
    width: 25px;
}

.LogInjection{
    font-weight: bold;
}