.InjectionInput{
    width: 23px;
    text-align: center;
}

.MostRecentLog{
    width: 150px;
    height: 100px;
    margin: 5%;
    background-color: white;
}

.AreaHeading{
    display: flex;
    flex-flow: column;
}